#OpenMMLab packages
openmim
mmcv-lite>=2.0.0rc4,<2.1.0
mmdet>=3.0.0
mmengine>=0.7.1
mmyolo

#Pytorch packages
torch
torchvision

# gradio
transformers
tokenizers
addict 
numpy
opencv-python
supervision==0.6.0

# Development
# yapf